<div id="<%= dom_id child %>">
  <p>
    <strong>First name:</strong>
    <%= child.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= child.last_name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= child.active %>
  </p>

</div>
