<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= task.points %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= task.active %>
  </p>

</div>
